<section>
  <h2 id="about-me">About ICK</h2>
  <hr class="bar"/>
  <div class="about-lock"><div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="front">
        <img src = "assets/img/alexng.jpg" style="width:200px; height:220px; object-fit: cover">
      </div>
      <div class="back">
        <div class="alexng-img"></div>
      </div>
  </div>
  <div class="glyph-icon flaticon-cogwheel28"></div>
  <div class="glyph-icon flaticon-computer1"></div>
  <div class="glyph-icon flaticon-hosting"></div>
  <div class="glyph-icon flaticon-computers13"></div>
</div>
<div class="blurb"><p> Hi, my name is Ick Namgung, and I am majoring in Computer Science
  at the University of Texas at Austin. I’m insanely passionate about teaching my knowledge of
  computer science as much as possible to those who are eager to learn.
  Also, I am interested in exploring how technology harmonizes and influences our world.
  I want to expreience hands-on learning and training related to my major outside of the classroom and
  make unique contributions to society. </p></div>
  <div class="skill-lock"></div>
</section>
