<section>
  <h2 id="about-me">About ICK</h2>
  <hr class="bar"/>
  <div class="about-lock"><div ontouchstart="this.classList.toggle('hover');" class="flip-container">
      <div class="front">
        <div class="ick-img"></div>
      </div>
      <div class="back">
        <div class="ick-img"></div>
      </div>
  </div>
  <div class="glyph-icon flaticon-cogwheel28"></div>
  <div class="glyph-icon flaticon-computer1"></div>
  <div class="glyph-icon flaticon-hosting"></div>
  <div class="glyph-icon flaticon-computers13"></div>
</div>
<div class="blurb"><p> Hi, my name is Ick Namgung, a sophomore, majoring in Computer Science
  at the University of Texas at Austin. I am interested to explore how the technology harmonizes with fashion.
  I want to have some real-life experience related to my major outside the classroom and
  discover the unique contributions I could make. I am attaching my resume and thank you
  in advance for your consideration.  </p></div>
  <div class="skill-lock"></div>
</section>
