<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Life</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div>
      <!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2 class="story-heading"> College Life  </h2>
        <P> I accepted CAP program, so I started the first year of the college life
        at the University of Texas at San Antonio. I couldn't wait to get in
        the University of Texas at Austin. </P>
        <span class="cd-date">August 2013 - Present</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-movie">
        <img src="../assets/img/idea14.svg" alt="College"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2> University of Texas at Austin </h2>
        <p> I didn't get into Computer Science as I transferred to the University of Texas at Austin.
          Thus, I had to wait another year to be a member of UTCS. FOREVER UTCS!!!! </p>
        <span class="cd-date">August 2014 - Present</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/graduate38.svg" alt="Location"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>Europe Sensation</h2>
        <p> I was on a trip to explore Europe with my older brother. Traveling many countries,
          I broadened my view of the world. I faced many ethnicities, environments, people with
          various backgrounds. I really appreciated the change that I had to travel around
          and I really want to go back and feel it again. I went to Interlaken, Switzerland,
          italy, France, London, Great Britain, and Rome, Italy </p>
        <span class="cd-date">July 2015 - August 2015</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/web-programming.svg" alt="Picture"/>
      </div><!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2> Enjoyment -> hardship </h2>
        <p> During summer 2016, I was able to take upper division courses.
          The first course was CS429 with Prof. Ghieth(I didn't know until this time that
          Upper division courses are like lower division courses. I thought
          I could enjoy this course like cs 312 or CS314...And that was my dilusion). </p>
        <span class="cd-date">May 2016 - August 2016</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
    </div>

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/hosting.svg" alt="Location"/>
      </div>
      <!-- cd-timeline-img-->
      <div class="cd-timeline-content">
        <h2>Lambda Alpha Nu(a.k.a. ΛAN) </h2>
        <p> It was a great opportunity for me to meet many people and to seek a community
        within the department of Computer Science,  </p>
        <span class="cd-date">August 2016 - Current</span>
      </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/question30.svg" alt="Location"/>
        </div>
      </div>
      <!-- cd-timeline-->
    </div>
  </section>
  <div class="cd-timeline-header"><h2></h2>
  </div>
</div>
